.app {
    background-color: #fafafa;
    height: 100%;
}

.app__header {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.app__header-image {
    object-fit: contain;
}

.app__posts {
    padding: 20px 20px 120px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sign-up {
    text-align: center;
}
.sign-up__image {
    object-fit: contain;
}

.sign-up__form {
    display: flex;
    flex-direction: column;
}